* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

html {
    position: relative;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    line-height: 1;
    color: black;
    background: white;
}

.game-menu {
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.dartboard {
  /*
  cursor: crosshair;
  */
  cursor: url("images/dart.png"), auto;
}

span.label-throw0 {
  background-color: #777;
}

span.label-throw1 {
  /*
  background-color: #597859;
  background-color: #5c8eb8;
  */
  background-color: #625cb8;
}

span.label-throw2 {
  /*
  background-color: #5cb85c;
  background-color: #5cb8a3;
  */
  background-color: #5cb0b8;
}

span.label-throw3 {
  background-color: #52d052;
  color: #000;
}

span.label-closed {
  background-color: #a31d1d;
}
