<h3>Stats</h3>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#global-stats" aria-controls="global-stats" role="tab" data-toggle="tab">Global</a>
    </li>
    <li role="presentation" class="active">
        <a href="#players-stats" aria-controls="players-stats" role="tab" data-toggle="tab">Players</a>
    </li>
</ul>

<div class="tab-content">
    <div rols="tabpanel" class="tab-pane active" id="global-stats">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div id="global-graph-darts-per-number" class="ct-chart ct-major-eleventh"></div>
                </div>
                <div class="col-sm-6">
                    <div id="global-graph-darts-per-factor" class="ct-chart ct-major-eleventh"></div>
                </div>
            </div>
        </div>
    </div>
    <div rols="tabpanel" class="tab-pane" id="players-stats"></div>
</div>
