<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="dropdown active">
        <a href="#" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle">
            Global<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="#tab-global-darts-per-number" aria-controls="tab-global-darts-per-number" role="tab" data-toggle="tab">
                    Darts per number
                </a>
            </li>
            <li>
                <a href="#tab-global-darts-per-factor" aria-controls="tab-global-darts-per-factor" role="tab" data-toggle="tab">
                    Darts per factor
                </a>
            </li>
        </ul>
    </li>
    <li role="presentation">
        <a href="#" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="dropdown-toggle">
            Players
        </a>
        <ul class="dropdown-menu">
            {{#each players as |player playerId|}}
            <li>
                <a href="#tab-player-{{playerId}}" aria-controls="tab-player-{{playerId}}" role="tab" data-toggle="tab">
                    {{player.name}}
                </a>
            </li>
            {{/each}}
        </ul>
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab-global-darts-per-number">
        <div class="container-fluid">
            <div id="graph-global-darts-per-number"></div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab-global-darts-per-factor">
        <div class="container-fluid">
            <div id="graph-global-darts-per-factor"></div>
        </div>
    </div>
    {{#each players as |player playerId|}}
    <div role="tabpanel" class="tab-pane" id="tab-player-{{playerId}}">
    </div>
    {{/each}}
</div>
